  
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('bg1.gif') fixed center;
    background-size: cover;
}

section {
   
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.active {
    display: block;
}
.contact-info {
    margin-top: 20px;
}
p {
    line-height: 1.6;
    color: #777;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.contact-info {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    color: #fff;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.navbar ul li{
    font-family: century;
    font-size:  1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}
#home{
    display: flex;
    flex-direction: column;
    background-color:rgba(0,0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;

}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('q.gif') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
    color: white;

}
.main:first-child {
    margin-bottom: 20px; /* Adjusted margin */
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btm{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btm:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white,0 0 10px white,0 0 15px white;
    font-weight: bold;
}


h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}




.mainE{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 70%;
    color: white;

}
.mainE:first-child {
    margin-bottom: 20px; /* Adjusted margin */
}
.headingE{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btmE{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btmE:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white,0 0 10px white,0 0 15px white;
    font-weight: bold;
}
.buttonsR{
    display: flex;
    top: 200%;
}


#About Us{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
  
}

#pic{
    display: flex;
    flex-wrap: nowrap;
}
#pic img{
    width: 575px;
    height: 400px;
    margin: 10px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;


    }
    #Portfolio{
        display: flex;
        flex-direction: column;
        background-color: rgba(0,0,0,0.9);
        color:white;
        align-items: center;
        padding: 20px;

    }
    main section {
        display: none;
    }
    

.gly{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gly img{
    width: 360px;
    height: 240px;
    margin: 10px;
}
#hubbys{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
flex-direction: column;
width: 350px;
height: 450px;
border: 1px solid black;
margin: 10px;
align-items: center;
text-align: justify;
padding: 10px;
border-radius: 15px;
background: linear-gradient(to top,rgb(255,45,45)50%,white 50%);
background-size: 100% 200%;
transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255,45,45);
}
.box img{
    width: 80px;
    height: 80px;
}
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.9);
    color: white;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}